html{
    font-size: 16px;
    margin: auto;
}
body{
    background-color: #e1e4e3;
    color: #0F0F0C;
    margin: 0;
    height: 100vh;
}
a {
    text-decoration: none;
}
/*Title Bar Styling*/
header {
    background-color: #bfc0c0;
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
header a {
    text-decoration: none;
}
header nav {
    grid-column: 2 / span 1;
    display: flex;
}
.navitem {
    align-self: ;
    justify-self:center;
}
header figcaption{
    color: #0F0F0C;
    font-size: 0.75rem;
    white-space: nowrap;
}
.navimg {
    max-width: 30px;
    max-height: 30px;
}

footer {
    background-color: #bfc0c0;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer ul {
    grid-column: 2 / span 1;
    display: flex;
}

footer li {
    display: inline;
    list-style: none;
    justify-items: stretch;
    align-items: center;
    margin: 0 10px;
}
.footerimg {
    width: 30px;
}

/*Page Specific*/
header h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    margin-left: 5%;
}
main {
    display: grid;
    grid-template-rows: 150px 50px 1fr;
    grid-template-columns: 1fr 1fr;
}

#photogallery {
    grid-row: 1 / span 1;
    grid-column: 1/ span 2;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}
.imageofme {
   width:10%;
   height: 80%;
}

main p {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
    text-align: center;
    margin: 0 10% 0 10%;

}

#myskills {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-content: center;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
}

h4 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
    text-align: center;
}