html{
    font-size: 16px;
    margin: auto;
}
body{
    background-image: url(./resources/homepage.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e1e4e3;
    color: #0F0F0C;
    margin: 0;
    height: 100vh;
}
a {
    text-decoration: none;
}
/*Title Bar Styling*/
header {
    background-color: #bfc0c0;
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
header a {
    text-decoration: none;
}
header nav {
    grid-column: 2 / span 1;
    display: flex;
}
.navitem {
    align-self: ;
    justify-self:center;
}
header figcaption{
    color: #0F0F0C;
    font-size: 0.75rem;
    white-space: nowrap;
}
.navimg {
    max-width: 30px;
    max-height: 30px;
}
main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    text-align: center;
    height: 100vh;
}

main h1 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    text-align: left;
    align-self: end;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
main h2 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

main button {
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
    height: fit-content;
    width: fit-content;
    padding: 16px;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}
main button:hover{
    background-color: #e1e4e3;
    margin-top: 2px;
}

footer {
    background-color: #bfc0c0;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

footer p {
    grid-column: 1 / span 1;
    margin-left: 10%;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
}

footer ul {
    grid-column: 3 / span 1;
    display: flex;
   
}

footer li {
    display: inline;
    list-style: none;
    align-items: center;
    margin: 0 10px;
}
.footerimg {
    width: 30px;
}