html{
    font-size: 16px;
}

body{
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
}
header {
    grid-row: 1 / span 1;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    position:sticky;
}
header h1 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    grid-column: 2 / span 1;
}
.nav {
    color:black;
    display: inline;
    margin: 1%;
    place-self: center center;
}
#leftnav {
    grid-column: 1 / span 1;
}
#rigthnav {
    grid-column: 3 / span 1;
}

.about-me {
    grid-row: 2 / span 1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: lightcyan;
    place-content: center center;
}
#amtitle {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
#amquote {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#StefAberdeen {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    border-radius: 30%;
}
#am-desc{
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}