html{
    font-size: 16px;
    margin: auto;
}
body{
    background-color: #e1e4e3;
    color: #0F0F0C;
    margin: 0;
    height: 100vh;
}
a {
    text-decoration: none;
}
/*Title Bar Styling*/
header {
    background-color: #bfc0c0;
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    z-index: 1;
}
header a {
    text-decoration: none;
}
header nav {
    grid-column: 2 / span 1;
    display: flex;
}
.navitem {
    align-self: ;
    justify-self:center;
}
header figcaption{
    color: #0F0F0C;
    font-size: 0.75rem;
    white-space: nowrap;
}
.navimg {
    max-width: 30px;
    max-height: 30px;
}
footer {
    background-color: #bfc0c0;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
footer ul {
    grid-column: 2 / span 1;
    display: flex;
}
footer li {
    display: inline;
    list-style: none;
    justify-items: stretch;
    align-items: center;
    margin: 0 10px;
}
.footerimg {
    width: 30px;
}
header h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    margin-left: 5%;
}
/*Page Specific*/
main {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
}
.intro-to-me{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#photoofme {
    grid-column: 1 / span 1;
    display: grid;
    place-items: center;
}
#photoofme img {
    width: 90%;
    min-width:200px;
    max-width: 400px;
    border: 2px solid darkgray;
    border-radius: 20px;
}

#textaboutme {
    grid-column: 2 / span 1;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#textaboutme h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
}
h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.8rem;
}
#textaboutme p {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
}
#my-skills {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    max-height: 500px;
    border: 1px solid black;
    background-color: #f8edeb;
    margin: 0 10%;
}
#my-skills h2 {
    text-align: center;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

.skill-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin: 0 5%;
    height: 20px;
}
.skill-item h6 {
    align-self: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.75rem;
    padding: 3px;
}
.skill-bar{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;

}
.skill {
    background-color: #e56b6f;
}
.css {
    width: 80%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}
.java {
    width: 30%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}
.html{
    width: 90%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}
.php{
    width: 50%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}
.matlab{
    width: 30%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}
.vba{
    width: 95%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}
.react{
    width: 20%;
    color: green;
    border-radius: 10px 0 0 10px;
    height: 20px;
}

/*Work Experience CSS */
.work-timeline {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
    max-height: 500px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    max-height: 500px;
    border: 1px solid black;
    background-color: #f8edeb;

}

.sidebar {
    grid-column: 1 / span 1;
    border: 1px solid black; 
    display: grid; 
    justify-content: center;
    background-color: #6d6875;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
}
ul {
    list-style: none;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar li {
    transform: translateX(-20px);
    border-radius: 5px;
    text-align: center;
    padding: 0 20px 0 20px;
    color: white;
    
}
.sidebar a {
    text-decoration: none;
    color: black;
}

.stacked-cards{
    grid-column: 2 / span 1;
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 100%;
}
.job-details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: fit-content;
    opacity: 0;
    font-family: 'Montserrat', sans-serif; 
}
.job-details h1 {
    font-size: 1.2rem;
}
.job-details h2 {
    font-size: 1.1rem;
}
.job-details h3 {
    font-size: 0.75rem;
}
.job-details p{
    font-size: 0.8rem;
}
.job-details[data-active]{
    opacity: 1;
    transition-delay: 0ms;
}
.carousel-button {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-radius: 5px;
}
.previous{
    left: 1%;
}
.next{
    position: absolute;
    right:1%;
}
.sidebar li[data-active]{
    font-size: 1.3rem;
    font-weight: bold;
    color: yellow;
}

@media screen and (max-width: 900px){
    main {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
    .intro-to-me{
        grid-column: 1 / span 1;
    }
    .work-timeline {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    #my-skills {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
}

@media screen and (max-width: 600px) {
    .intro-to-me{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #photoofme {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    #textaboutme {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        text-align: center;
    }
}