html{
    font-size: 16px;
    margin: auto;
}
body{
    background-color: #e1e4e3;
    color: #0F0F0C;
    margin: 0;
    height: 100vh;
}
a {
    text-decoration: none;
}
/*Title Bar Styling*/
header {
    background-color: #bfc0c0;
    width: 100%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
header a {
    text-decoration: none;
}
header nav {
    grid-column: 2 / span 1;
    display: flex;
}
.navitem {
    align-self: ;
    justify-self:center;
}
header figcaption{
    color: #0F0F0C;
    font-size: 0.75rem;
    white-space: nowrap;
}
.navimg {
    max-width: 30px;
    max-height: 30px;
}

footer {
    background-color: #bfc0c0;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer ul {
    grid-column: 2 / span 1;
    display: flex;
}

footer li {
    display: inline;
    list-style: none;
    justify-items: stretch;
    align-items: center;
    margin: 0 10px;
}
.footerimg {
    width: 30px;
}

/*Page Specific*/
header h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    margin-left: 5%;
}

main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr) 200px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.heading-details{
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    width: 100%;
    margin-bottom: 2%;
}
.contact-title {
    grid-row: 1 / span 1;
    justify-self: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 0;
    color: #4a4e69;
    font-weight: 900;
}
.contact-subtitle{
    grid-row: 2 / span 1;
    justify-self: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.9rem;
    width: 75%;
    text-align: center;
    font-style: italic;
}
.maillogo {
    grid-row:3 / span 1;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
}
.contact-form {
    grid-row:3 / span 1;
    grid-column: 3 / span 2;
    justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-form input {
    width: 80%;
    height: 40px;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.9rem;
    color: black
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #4a4e69

}
.contact-form textarea {
    width: 80%;
    margin-bottom: 5%; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.9rem;
    color: black;
    padding-top: 10px;
    padding-left: 10px; 
    border-radius: 10px;
    border: 2px solid #4a4e69;
}
.contact-form button {
    width: 50%;
    margin-left: 15%;
    border-radius: 10px;
    border: 2px solid #4a4e69;
    background-color:#4a4e69;
    color: white;
    padding: 10px;
}
.maillogo object {
    height: 80%;
    width: 80%;
    justify-self: center;
    align-self: center;
    margin-left: 10%;
}
.contact-form button:hover {
    opacity: 0.7;
}

